@charset "utf-8";
/* CSS Document */

  html,body {
  height:100%;
  margin:0;
}

.content {
  height:100%;
  min-height:100%;/*for mozilla*/
}

html>body .content {
  height:auto;
}

@font-face {
    font-family: Merc;
    src: url(http://social-fonts.com/assets/fonts/corporate-a-bq/corporate-a-bq.ttf);
}

#navbar{
  position: fixed;
  background-color: #FFF;
  width:100%;
  height: 40px;
  top:0px;
  z-index: 20;
}
ul{
  list-style-type: none;
  margin: 10px;
}
#navbar li{
  display: inline;
  font-family: Merc;
  src: url(http://social-fonts.com/assets/fonts/corporate-a-bq/corporate-a-bq.ttf);
}
a{
  text-decoration: none;
  color: #5a5a5a;
}

.home{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

#one{
  background: linear-gradient(
    to right, 
    #000000 0%, 
    #000000 50%, 
    #ffffff 50%, 
    #ffffff 100%);
    font-size: 5vw;
}

.flip-name{
  color: white; 
  display: inline-block;
  transform: scaleX(-1); /* standard */
  filter: FlipH; /* IE 6/7/8 */
}

#about{
  display:inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.medium-image{
  float: right;
  width: 50%;
  height: auto;
  margin:0;
}

#about p{
 width: 49%;
 display: inline-block;
 padding: 5em; 
 font-size: 2vw;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
/*#about p{
  /*font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;*/
  /*position:relative;
  font-family: Merc;
  src: url(http://social-fonts.com/assets/fonts/corporate-a-bq/corporate-a-bq.ttf);
  font-size: 20px;
  line-height: 28px;
  text-align:center;
  margin:-0.5em 175px 75px 175px;
  padding-top:10em;
  color: #404040;
}*/

/*.xp p{
  position:relative;
  font-family: Merc;
  src: url(http://social-fonts.com/assets/fonts/corporate-a-bq/corporate-a-bq.ttf);
  font-size: 20px;
  line-height: 28px;
  text-align:center;
  margin:-0.5em 175px 75px 175px;
  padding-top:5em;
  color: #404040;
}
*/
#work{
  margin: 50px;
}
#work h2{
  margin-bottom: 25px;
  /*padding-top: 30px;*/
  text-align: center;
  font-family: Arial;
  font-size: 40px;
  font-weight: 100;
}

.smaller-image{
  width: 175px;
}
/*#work img{
  padding-top: 8em;
}*/

/*#work img {
  filter: alpha(opacity=80); -moz-opacity: .80; opacity: .80;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
#work img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
}
*/
.og-grid {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.og-grid li {
  display: inline-block;
  margin: 10px 5px 0 5px;
  vertical-align: top;
  height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
}

.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ddd;
  border-width: 15px;
  left: 50%;
  /*margin: -20px 0 0 -15px;*/
  margin: 0;
}

.og-expander {
  position: absolute;
  background: #ddd;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}

.og-expander-inner {
  padding: 50px 30px;
  height: 100%;
}

.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  transform: rotate(45deg);
}

.og-close::after {
  transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
  background: #333;
}

.og-fullimg,
.og-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.og-fullimg {
  text-align: center;
}


.og-details h3 {
  font-weight: 300;
  font-size: 52px;
  padding: 40px 0 10px;
  margin-bottom: 10px;
}

.og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999;
}

.og-details a {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid #333;
  display: inline-block;
  margin: 30px 0 0;
  outline: none;
}

.og-details a::before {
  content: '\2192';
  display: inline-block;
  margin-right: 10px;
}

.og-details a:hover {
  border-color: #999;
  color: #999;
}

.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  animation: loader 0.5s infinite ease-in-out both;
}

@keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

  .og-expander h3 { font-size: 32px; }
  .og-expander p { font-size: 13px; }
  .og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

  .og-fullimg { display: none; }
  .og-details { float: none; width: 100%; }
  
}

/*#contact {
  position:relative;
  font-family: Merc;
  src: url(http://social-fonts.com/assets/fonts/corporate-a-bq/corporate-a-bq.ttf);
  font-size: 20px;
  line-height: 28px;
  text-align:center;
  margin:-0.5em 175px 75px 175px;
  padding-top:10em;
  color: #404040;
  background-color: #ccebff;
}*/

#contact{
  height: 50%;
  width: 100%;
  background-color: #000000;
  display:inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-family: Merc;
}

#contact h2{
  font-size: 40px;
  font-weight: 100;
}

#contact img{
  padding-top: 20px;
}
